<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Input</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/input.css') }}">
    </head>
    <body>        
        <div>Gold price prediction eequation = {{data.M1}} * 2 Days Moving Average + {{data.M2}} * 5 Days Moving Average + {{data.C}} </div>
        <h1>Hello, please enter your x1 and x2 value:</h1>
        <form action="{{ url_for('result') }}" method="POST">
            <input value={{data.M1}} name="M1" hidden>
            <input value={{data.M2}} name="M2" hidden>
            <input value={{data.C}} name="C" hidden>
            <label for="text1">X1</label>
            <input type="text" name="X1" id="text1">
            <label for="text2">X2</label>
            <input type="text" name="X2" id="text2">
            <input type="submit">
        </form>
    </body>
</html>
